
/Debug
/Release
/glslLiveEditor/Debug
/glslLiveEditor/Release
/ipch
/glslLiveEditor.sdf
/glslLiveEditor.suo
/glslLiveEditor/fragment_shader.glsl
/glslLiveEditor/backup shaders
/glslliveeditor/backup shaders
/glslLiveEditor.opensdf